*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root{
    font-size: 62.5%;

    --bg-color-primary: #F9F4FB;
    --bg-color-secondary: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
    --bg-color-card: #FFFFFF ;    

    --font-color-title: #B52184;
    --font-color-paragraph: #312D64; 
}

body, button, input{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

h1, h2{    
    font-weight: 900;
    color: var(--font-color-title);
}

p, input,textarea{
    color: var(--font-color-paragraph);
}

button{
    cursor: pointer;
}

body{
    display: grid;
    justify-items: center;
    font-size: 1.6rem;
    
    background-color: var(--bg-color-primary);
}

header{
    width: 43.0rem;
    height: 67.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img{
    width: 36.4rem;
    height: 37.0rem;
}

header > h1{
    width: 30.5rem;
    font-size: 3.2rem;
    margin: 1.7rem 0 .5rem;
}

header > p{
    margin-bottom: 3.5rem;
    font-size: 2.0rem;
}

header > button{
    display: grid;
    place-content: center;

    width: 5.8rem;
    height: 10.5rem;

    border: .4rem solid var(--font-color-title);
    border-radius: 76.0rem;

    font-size: 6rem;
    color: var(--font-color-title);
}

main{
    display: grid;
    gap: 5.0rem;

    padding: 5.3rem 3.9rem 5.6rem;
    background: var(--bg-color-secondary);
}

.card{
    display: grid;
    gap: 3.3rem;

    padding: 2.65rem;
    padding-right: 6.0rem;
    border-radius: 2.0rem;
    background-color: var(--bg-color-card);
}

.card > img{
    width: 8.0rem;
    height: 8.0rem;
}

.text_content{
    display: grid;
    gap: 2.0rem;

    width: 26.6rem;
}

.text_content > h2{
    font-size: 2.9rem;
}